body {
    background: scroll;
    background-image: url('../src/background-black.png');
    background-repeat: no-repeat;
    background-size: 100vh;
}

h1 {
    font-size: 8vh;
    position: absolute;
    left: 0vw;
    right: 0vw;
    top: 23vh;
    text-align: center;
}

.navbar {
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 70vh;
}

.nav-links {
    margin-left: 5vw;
    margin-right: 5vw;
}

.navbar-pages {
    width: 60vw;
}

.navbar-pages-links {
    width: 20vw;
    font-size: 3.5vw;
}

.date-entry {
    margin-left: 2vw;
    font-size: 2.5vh;
}

.date-entry-content {
    margin-left: 6vw;
    width: 76vw;
    font-size: 1.6vh;
}

.fade-image-1 {
    display: none;
}

.fade-image-2 {
    display: none;
}

.fade-image-3 {
    display: none;
}

.about-me-content {
    width: 90vw;
    margin: 0 auto;
    font-size: 2vh;
    position: absolute;
    top: 20vh;
    left: 0;
    right: 0;
}

.line {
    display: none;
}

.navbar {
    top: 65vh;
}

.img1 {
    display: none;
}